@model Tease_Server.Models.Page

@{
    ViewBag.Title = "Crear";
}

<h2>@ViewBag.ProjectName - Crear Página</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Página</legend>

        @Html.Hidden("ProjectID", (string)ViewBag.projectID)

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>
        <p>
            <input type="submit" value="Crear" />
        </p>
    </fieldset>
}

<div>
     Regresar a @Html.ActionLink((string)ViewBag.ProjectName, "Index", new { projectID = ViewBag.projectId})
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
